<div>
  <header>
      <h3>

          {{ customer.suggestions }} {{ customer.subTitle }}
      </h3>
  </header>
  <br />
  <form (ngSubmit)="submit()"
        #customerForm="ngForm"
        class="editForm"
        novalidate>
    <div class="form-group">
      <label>Suggestions</label>
      <input type="text"
             class="form-control"
             name="suggestions"
             [(ngModel)]="customer.suggestions"
             #suggestions="ngModel"
             required>
      <div class="alert alert-danger" [hidden]="suggestions.untouched || suggestions.valid">First Name is required</div>
    </div>
    <div class="form-group">
      <label>Sub Title</label>
      <input type="text"
             class="form-control"
             name="subTitle"
             [(ngModel)]="customer.subTitle"
             #subTitle="ngModel"
             required>
      <div class="alert alert-danger" [hidden]="subTitle.untouched || subTitle.valid">Last Name is required</div>
    </div>
    <div class="form-group">
      <label>isPreorder</label>
      <input type="text"
             class="form-control"
             name="isPreorder"
             [(ngModel)]="customer.isPreorder"
             #isPreorder="ngModel"
             required>
      <div class="alert alert-danger" [hidden]="isPreorder.untouched || isPreorder.valid">isPreorder is required</div>
    </div>

    <div class="form-group">
      <label>Rating</label>
      <input type="number"
             class="form-control"
             name="number"
             [(ngModel)]="customer.rating"
             #rating="ngModel" required>
    </div>
    <div class="form-group">
      <label>Reviews</label>
      <input type="number"
             class="form-control"
             name="number"
             [(ngModel)]="customer.reviews"
             #reviews="ngModel" required>
    </div>
    <br />

    <div *ngIf="customer">
      <div class="alert alert-warning" *ngIf="customer._id && deleteMessageEnabled">
         Delete Customer?&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete($event)">Yes</button>&nbsp;&nbsp;
         <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
      </div>
      <button class="btn btn-danger" *ngIf="customer._id && !deleteMessageEnabled" (click)="deleteMessageEnabled = true">Delete</button>&nbsp;&nbsp;

      <div class="pull-right" *ngIf="!deleteMessageEnabled">
        <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">{{ operationText }}</button>
      </div>
    </div>
    <br />
    <br />
    <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>

  </form>
</div>
